<button (click)="start()"> start</button>
<button (click)="pause()"> pause </button>
<button (click)="resume()"> resume </button>
<br>
<input type="text" [(ngModel)]="text">
<select #langSelect *ngIf="speechData" (change)="setLanguage(langSelect.value)">
  <option [value]="i" *ngFor="let voice of speechData.voices;let i = index;">
    {{voice.name}} - {{voice.lang}}
  </option>
</select>
<br>
<button (click)="speech.volume = speech.volume - 1"> - </button> <button (click)="speech.volume = speech.volume + 1"> + </button> {{speech.volume}}






